.SearchResults {
  height: 500px;
  position: relative;

  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.Title {
  display:flex;
  padding-bottom: 10px;
  color:#6C41EC;
  position: relative;
}
.Title .space {
  width:5%;
}
.Title .track {
  width:40%;
}
.Title .artist {
  width:20%;
}
.Title .album {
  width:35%;
}
.results {
  overflow-y: scroll;

}
@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
