.SearchBar {
  display: flex;
  align-items: center;
  margin: .9rem 0;
}

.SearchBar input {
  width: 520px;
  padding: .5rem 0;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-right: 1.3rem;
  margin-left: .9rem;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar a {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.SearchBar a:hover {
  background-color: rgba(108, 65, 233, .7);
}
