.App {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1% 0 1%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}
.App-playlist {
  display: flex;
  width: 26%;
  flex-direction: column;
}

.App-SearchResults {
  width: 72%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
